:root {
  --primary-color: #e60a8c;
  --accent-color1: #a0e6e6;
  --accent-color2: #ff9600;
  --bg-dark: #2850ff;
  --bg-light: #ded6d6;
  --bg-body: #fff;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
.main-header {
  display: flex;
  padding: 2rem;
  justify-content: space-evenly;
}
.main-header img {
  width: 15vw;
}
.main-nav {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav {
  display: none;
}
@media only screen and (max-width: 1100px) {
  .main-nav {
    display: none;
  }
  .mobile-nav {
    display: unset;
  }
  .main-header img {
    padding: 1rem;
    width: 35vw;
  }
}
.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}
.closeIcon {
  display: none;
}
.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: var(--bg-light);
  color: white;
  list-style: none;
  padding-top: 4rem;
  border-radius: 0;
}
.showMenu {
  transform: translateY(0);
}
header {
  background-color: white;
}
body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}
h1,
h2,
h3 {
  line-height: 1;
}
img {
  max-width: 100%;
  display: block;
}

ul {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  border-radius: 2rem;
}
.main-nav a {
  white-space: nowrap;
}
.main-nav a,
.mobile-nav a {
  font-size: 1.1rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  padding: 0.5em;
  border-radius: 2rem;
}
.main-nav a:hover {
  color: black !important;
  background-color: var(--bg-light);
}
.main-nav li {
  border-top: solid black 2px;
  border-bottom: solid black 2px;
  padding: 1em;
}
.mobile-nav li {
  padding: 1em;
  border: solid black 2px;
  border-radius: 2rem;
  margin: 0 25vw 1rem 25vw;
}
#main-nav-home,
#mobile-nav-home {
  border-left: solid 2px;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-color: var(--bg-dark);
}
#main-nav-home a,
#mobile-nav-home a {
  color: var(--bg-dark);
}
#main-nav-coaching,
#main-nav-coaching .nav-dropdown-content,
#mobile-nav-coaching {
  border-color: var(--accent-color2);
}
#main-nav-coaching a,
#mobile-nav-coaching a{
  color: var(--accent-color2);
}
#main-nav-leadership,
#mobile-nav-leadership {
  border-color: var(--primary-color);
}
#main-nav-leadership a,
#mobile-nav-leadership a {
  color: var(--primary-color);
}
#main-nav-od,
#mobile-nav-od {
  border-color: var(--bg-dark);
}
#main-nav-od a,
#mobile-nav-od a {
  color: var(--bg-dark);
}
#main-nav-about,
#mobile-nav-about {
  border-right: solid black 2px;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-color: var(--accent-color2);
}
#main-nav-about a,
#mobile-nav-about a {
  color: var(--accent-color2);
}
.nav-dropdown {
  position: relative;
  display: inline-block;
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 0.5rem;
  border-radius: 1rem;
}

/* Links inside the dropdown */
.nav-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.nav-dropdown-content a:hover {
  background-color: var(--bg-light);
}

/* Show the dropdown menu on hover */
.nav-dropdown:hover .nav-dropdown-content {
  display: block;
}

.homepage-main {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.homepage-main h2 {
  max-width: 50vw;
}
.homepage-main img {
  border-bottom: 1rem solid var(--accent-color1);
  border-left: 1rem solid var(--accent-color1);
  border-right: 1rem solid var(--accent-color1);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  width: 60vw;
}
@media only screen and (max-width: 1100px) {
  .homepage-main img {
    width: 80vw;
  }
}
#main-image-text {
  position: absolute;
  padding-top: 5vw;
  font-size: min(5vw, 4rem);
  font-weight: 700;
  text-align: center;
  color: var(--bg-body);
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.homepage-guiding-principles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1100px) {
  .hidden-on-mobile {
    display: none;
  }
  .guiding-principle-article-right {
    margin-left: 15vw;
  }
  .guiding-principle-article-left {
    margin-right: 15vw;
  }
  .guiding-principle-article-right,
  .guiding-principle-article-left {
    height: 25vh;
  }
}

.homepage-guiding-principles h2 {
  padding-top: 2rem;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}
.down-arrow {
  padding: 1rem;
  width: 7rem;
}
.guiding-principle-article {
  display: flex;
  align-items: center;
  text-align: center;
  width: 80vw;
}
.guiding-principle-article-right {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding-left: 15vw;
}
.guiding-principle-article-right .article-text-container {
  margin-left: -32.5vw;
  padding: 0 20vw 0 20vw;
}

.guiding-principle-article-left {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding-right: 15vw;
}
.guiding-principle-article-left .article-text-container {
  margin-right: -32.5vw;
  padding: 0 20vw 0 20vw;
}
.guiding-principle-left-image {
  border-radius: 2rem;
  width: 25vw;
  margin: 2rem;
  margin-left: -20vw;
  margin-right: 20vw;
}
.guiding-principle-right-image {
  border-radius: 2rem;
  width: 25vw;
  margin: 2rem;
  margin-left: 20vw;
  margin-right: -20vw;
}
#guiding-principle-leverage {
  background: linear-gradient(0.25turn, var(--accent-color2) 50%, white 90%);
}
#guiding-principle-stage {
  background: linear-gradient(0.25turn, white 10%, var(--accent-color1) 50%);
}
#guiding-principle-conversation {
  background: linear-gradient(0.25turn, var(--primary-color) 50%, white 90%);
}
#guiding-principle-experience {
  background: linear-gradient(0.25turn, white 10%, var(--bg-dark) 50%);
}
/*SECTION DIVIDERS*/
.section-divider {
  height: 4rem;
  margin: 0 0 1rem 0;
  background: linear-gradient(
    to left bottom,
    var(--accent-color2) 49%,
    white 50%
  );
}
.shapedivider-8533 {
  overflow: hidden;
  position: relative;
}
.shapedivider-8533::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 200% 175px;
  background-position: 50% 0%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%232850ff"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%232850ff"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%232850ff"/></svg>');
}

@media (min-width: 768px) {
  .shapedivider-8533::before {
    background-size: 150% 175px;
    background-position: 50% 0%;
  }
}

@media (min-width: 1025px) {
  .shapedivider-8533::before {
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 100% 175px;
    background-position: 50% 0%;
  }
}
@media (min-width: 2100px) {
  .shapedivider-8533::before {
    background-size: 100% calc(2vw + 175px);
  }
}

.think-positive-session {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 0 2rem 0;
}
.think-positive-session img {
  width: 30vw;
  border: var(--primary-color) solid 1rem;
  margin-left: 4rem;
}
.think-positive-session .article-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4rem 4rem 4rem 2rem;
}
.think-positive-session h2 {
  font-size: 2.5em;
  padding: 0 20% 0 20%;
}
.think-positive-session p {
  font-size: 1.2em;
  padding: 0 15% 0 15%;
}
.think-positive-session a {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.2em;
  background-color: var(--primary-color);
  text-decoration: none;
  color: white;
  transition: 0.2s ease-in-out;
}
.think-positive-session a:hover {
  background-color: var(--accent-color1);
  color: black;
}
.testimonials h3 {
  margin-top: 10rem;
  color: var(--primary-color);
  font-weight: 200;
  font-size: 2em;
}
.testimonials h2 {
  font-size: 2.5em;
  margin-bottom: 1rem;
}
.testimonials h3,
.testimonials h2 {
  margin-left: 4rem;
}
.outer-testimonial-container {
  display: flex;
  margin: 0 10%;
  border: var(--accent-color1) solid 2px;
  border-radius: 2rem;
}
@media only screen and (max-width: 1100px) {
  .outer-testimonial-container {
    flex-direction: column;
  }
}
.inner-testimonial-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  align-content: center;
  padding: 2.5%;
}
.testimonial-author-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}
.inner-testimonial-container img {
  width: 35%;
  border-radius: 50%;
}
.main-footer {
  background-color: var(--bg-dark);
  display: flex;
  padding: 4rem;
  margin-top: 4rem;
  border: solid var(--accent-color1) 0.5rem;
}
@media only screen and (max-width: 1100px) {
  .main-footer {
    flex-direction: column;
  }
}
.footer-column-container {
  flex: 1;
  color: white;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer-column-container h4 {
  font-weight: 600;
  padding-bottom: 1rem;
}
.footer-column-container a {
  color: white;
}
